<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="inner">
        <!-- <h3 class="masthead-brand">Cover</h3> -->
        <img src="images/logo.png" style="width:304px;height:228px;">
      </div>

      <form class="form-signin">
        <input type="text" id="inputId" class="form-control" ng-model="user.id" placeholder="Matrix ID" required autofocus>
        <input type="password" id="inputPassword" class="form-control" ng-model="user.password"placeholder="Password" required>
        <br>
        <button class="btn btn-lg btn-primary btn-block" ng-click="login()"type="submit">Login</button>
      </form>

    </div>

  </div>

</div>